@use '../../../styles/variables.scss' as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--btn-default-fav-bg);

  &__img {
    width: 16px;
  }

  &:hover {
    background-color: var(--btn-hover-fav-bg);
  }
}

.selected {
  background-color: inherit;
  border: 1px solid var(--btn-selected-add-bg);
}
