@use '../../../styles/variables.scss' as *;

.btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--btn-text-color-bg);
  background-color: var(--btn-default-add-bg);

  &:hover {
    background-color: var(--btn-hover-add-bg);
  }
}

.selected {
  background-color: var(--btn-selected-add-bg);
}
