@use '../../styles/variables.scss' as *;

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconHome {
  color: #75767F;
  transition: color 0.3s ease;

  &:hover {
    color: var(--main-color);
  }
}

.h4 {
  font-weight: 700;
  color: var(--secondary-color);
  transition: color 0.3s ease;

  &:hover {
    color: var(--main-color);
  }
}

.name {
  font-weight: 700;
  color: var(--secondary-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
