@use '../styles/variables' as *;
@use '../styles/mixins.scss' as *;

.container {
  position: sticky;
  display: flex;
  gap: 24px;
  height: 64px;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--secondary-color);

  @media (max-width: $desktop-medium) {
    gap: 16px
  }

  @media(max-width: $tablet) {
    height: 48px;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav {
  display: flex;
  height: 100%;
  gap: 74px;
  color: var(--secondary-color);

  @media (max-width: $desktop-medium) {
    gap: 60px
  }

  @media (max-width: $tablet) {
    display: none;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include nav-after-line;
  }
}

.active {
  color: var(--main-color);
}

.logo {
  width: 80px;
  height: 28px;
  margin: 18px 24px;
  object-fit: contain;

  @media (max-width: $tablet) {
    width: 64px;
    height: 22px;
    font-size: 12px;
    margin: 13px 16px;
  }

  &:hover {
    opacity: 0.6;

    @include default-transition;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  @media (max-width: $tablet) {
    display: none;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 100%;
    box-shadow: 0 0 1px var(--secondary-color);
    font-weight: 800;
    font-size: 12px;

    @include nav-after-line;

    &:hover {
      box-shadow: 0 0 2px var(--secondary-color);
    }
  }

  & img {
    width: 16px;
  }

  & div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB5757;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 18px;
    right: 20px;
    font-weight: 700;
    font-size: 9px;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

}

.burgerIcon {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    width: 100vh;
    justify-content: flex-end;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 48px;
    border: none;
    font-size: 20px;
    color: var(--main-color);
  }

  & img {
    width: 16px;
  }
}

.btnSwitch {
  display: flex;
  align-items: center;
  margin-right: 14px;
}
