body.light {
  /* Backgrounds */
  --main-bg: #fff;
  --card-bg: #fff;
  --card-border-bg: #c3cacf;
  --option-selected-bg: #4A4D58;
  --icon-bg: #4A4D58;

  /* Text colors */
  --main-color: #313237;
  --secondary-color: #89939A;
  --selected-color: #fff;
  --default-color: #313237;

  /* Button add to favourites */
  --btn-default-fav-bg: #323542;
  --btn-hover-fav-bg: #515562;
  --btn-selected-fav-bg: #3B3E4A;

  /* Button add to cart */
  --btn-default-add-bg: #313237;
  --btn-hover-add-bg: #42434c;
  --btn-selected-add-bg: #777d82;
  --btn-text-color-bg: #fff;

  /* Banner */
  --banner-bg: #d4d8dc;
  --banner-inner-bg: #eef1f3;
  --banner-text-color: #777d82;
}


