@use '../../../../styles/variables.scss' as *;

.container {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 24px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border-bg);
  border-radius: 2px;

  @media(max-width: $mobile-medium) {
    flex-direction: column;
  }
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  @media(max-width: $tablet) {
    gap: 12px;
  }

  @media(max-width: $mobile-medium) {
    justify-content: left;
  }

  & button {
    background-color: inherit;
    color: var(--card-border-bg);

    &:hover {
      color: rgb(163, 33, 33);
    }
  }

  &__img {
    padding: 6px;

    & img {
      width: 80px;
      height: 80px;
    }
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;

  @media(max-width: $mobile-medium) {
    justify-content: space-between;
  }

  &__buttons {
    display: flex;

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
    }
  }

  &__btn {
    width: 32px;
    height: 32px;
    border: 1px solid var(--card-border-bg);
    background-color: inherit;
    color: var(--card-border-bg);
    font-size: 20px;

    &:hover {
      border: 1px solid var(--btn-hover-add-bg);
      color: var(--main-color);
    }

    &:disabled {
      background-color: inherit;
      cursor: not-allowed;
      color: var(--secondary-color);
      opacity: 0.5;
    }
  }

  &__price {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
  }
}
