@use '../styles/variables' as *;
@use '../styles/mixins.scss' as *;

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 96px;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: var(--main-bg);
  padding: 32px 152px;
  border-top: 1px solid var(--secondary-color);

  @media (max-width: $tablet) {
    flex-direction: column;
    height: 206px;
    padding: 16px 32px;
    gap: 32px;
  }
}

.logo {
  width: 80px;
  height: 28px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;

    @include default-transition;
  }
}

nav {

}

.nav {
  display: flex;
  align-items: center;
  gap: 104px;

  @media (max-width: $desktop) {
    gap: 56px;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  & li:hover {
    color: var(--secondary-color);

    @include default-transition;
  }
}

.backToTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 22px;
  background-color: var(--btn-default-add-bg);
  border: 1px solid var(--card-border-bg);
  border-radius: 50%;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    0 6px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease-in;

  @media(max-width: $tablet) {
    width: 36px;
    height: 36px;
    font-size: 14px;
  }

  &:hover {
    background-color: var(--btn-hover-add-bg);
  }
}
